# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
bin/
.vscode/
compile_commands.json
temp.log
temp.errors
*.ini
.d/
src/
firmware/
include/display
include/pros
include/api.h
include/main.h
common.mk
project.pros
